<div id="image-data" data-image_data="<%= @slickr_media_upload.to_json(methods: [:admin_update_path, :timestamped_image_url]) %>"></div>
<div id='image-editing-form'></div>
<%= javascript_pack_tag 'slickr_media_image_editor' %>
