<div id="media-data-array"
     data-media_data_array="<%= @slickr_media_uploads.map do |media|
       JSON.parse(media.to_json(
         methods: [
           :build_for_gallery, :admin_edit_path, :admin_update_path,
           :admin_batch_delete_path
         ]
       ))
       end.to_json %>"
     data-allowed_upload_info="<%= Slickr::MediaUpload.allowed_upload_info.to_json %>"
     data-additional_info="<%= Slickr::MediaUpload.additional_info.to_json %>">
</div>
<div id='media-gallery'></div>
<%= javascript_pack_tag 'slickr_media_gallery' %>
