#custom-wrapper {
  .true_false {
    width: 64%; margin-top: -9.4em; margin-left: 0.5em; padding-bottom: 5em !important;
    border-bottom: none !important;
  }
}

.image-picker-remove {
  &.no_image {
    display: none;
  }
  .true_false {
    width: 64%; margin-top: -.5em; left: 0;

    .edit-wrapper {
      width: 100%;
    }
  }
}
