.logged_in #wrapper .formtastic {
  padding: 0;

  fieldset.inputs {
    margin-top: 2em !important; padding: 2em !important;
    border-bottom: 1px solid $grey_lightest !important;

    ol {
      li {
        &.slickr_settings_wrapper {
          margin-bottom: .25em !important;
        }
      }
    }

    // ol {
    //   img {
    //     max-width: 30em;
    //   }
    // }
  }

  fieldset.actions {
    padding-left: 2em !important;
  }

  fieldset.form_inputs {
    ol {
      li {
        border-bottom: 1px solid $grey_lightest; border-right: 1px solid $grey_lightest; border-left: 1px solid $grey_lightest;
        &.input {
          padding: 2em 0; margin-bottom: 0!important;
        }
        input, textarea {
          width: auto !important;
          background: none !important;
          border-bottom: none !important;
        }
        &.password, &.email, &.string, &.select, &.text, &.number {
          .hint-text {
            @extend .para_small;
            margin: 0; padding: 0 0.5em;
            color: $grey;
          }
        }
        .edit-wrapper {
          input, textarea {
            background: none !important;
            border-bottom: none !important;
          }
        }
        .megadraft-editor {
          padding: .5em;
        }
      }
      li > * {
        margin: 0 2em !important;
      }
    }
  }
  .image-picker {
    display: none !important;
    & + .text {
      .hidden {
        display: none;
      }
      .file {
        label {
          display: block;
        }
        input[type='file'] {
          padding: 8px 8px 8px .5em !important; height: 60px !important;

          &:before {
            content: 'Select' !important;
          }
        }
        &.has_image {
          .hint-text {
            margin-top: 4em;
          }
        }
        &.has_error {
          label {
            color: $alert !important;
          }
        }
      }
    }
  }
  .megadraft-text-editor {
    // display: none !important;
     & + .text {
      //  textarea:not(.notHidden) {
      //    display: none !important;
      //  }
       .megadraft {
         min-height: 5em; margin-bottom: 5em;
         .megadraft-editor {
           padding-right: 4em; padding-left: 0.5em;
         }
         .sidebar__menu {
           left: inherit; right: -4em;
           float: right;
         }
       }
     }
  }
}

#custom-wrapper {
  .page_editing_area {
    fieldset {
      ol {
        li {
          &.password, &.email, &.string, &.select, &.text, &.number, &.file  {
            .hint-text {
              @extend .para_small;
              margin: 0; padding: 0 0.5em;
              color: $grey;
            }
            textarea {
              resize: none;
            }

            .inline-hints img {
              margin-left: 0 !important;
            }
          }
          &.file {
            input[type='file'] {
              padding: 8px 8px 8px .5em !important; height: 60px !important;

              &:before {
                content: 'Select' !important;
              }
            }
            &.has_image {
              .hint-text {
                margin-top: 4em;
              }
            }
          }
          .edit-wrapper {
            input, textarea {
              background: none !important;
              border-bottom: none !important;
            }
          }
          .megadraft-editor {
            padding: .5em;
          }
        }
      }
    }
  }
}
