.logged_in {
  .action_item.dropdown_item {
    display: flex; align-items: center;
    width: 12em;
    justify-content: space-between;
    transition: .2s;
    .arrow svg { fill: $blue !important; }
    &.active {
      color: $blue !important;
      background: $white !important;
      svg { fill: white; }

    }
    &:hover {
      background-color: $grey_lightest;

      .dropdown_container a {
        background-color: $grey_lightest;
      }
    }
  }
  .dropdown_container {
    position: relative; height: 100%;

    a {
      @extend %action_button;
      display: flex; align-items: center;
    }
    .action_item_dropdown {
      display: flex;
      flex-direction: column;
      position: absolute; top: 4em; width: 12em;
      background: white; color: $blue;
      border-left: 2px solid $white; border-right: 2px solid $white; border-bottom: 2px solid $white;
      span {
        display: flex; padding: 8px 12px; height: 2em;
        transition: .2s;
        svg {fill: $blue; transition: .2s; }
        &:hover svg {
          fill: $white !important;
        }
      }

      span:hover { background: $blue; color: white; cursor: pointer; }
      svg { width: 20px; height: 20px; fill: $blue; }
    }

  }
}
