#image_editor {
  padding: 2em;
  display: -ms-grid; display: grid;
  grid-template-columns: 6fr 4fr;
  grid-column-gap: 2em;

  .ReactCrop {
    width: max-content;
    height: max-content;
  }
  #image_editor_form {
    @extend %admin_form_basics;
    button {
      @extend %button;
    }
  }
}
