.logged_in {
  #custom-wrapper, #wrapper {
    #header {
      #utility_nav {
        display: inline-flex;
      }
    }
  }
  #custom-wrapper {
    @extend %admin-wrapper;
    grid-template-rows: 1fr 50px;
    grid-template-areas:
      "sidebar content"
      "sidebar footer";

    #title_bar {
      height: 4em;
    }

    #resource_tabs {
      display: grid;
      grid-row: resource-tabs;
      grid-column: auto;
      @extend %blue_section;
      display: flex;
      align-items: stretch;
      height: 4em; padding: 0 2em;
      h3 { display: none; }
      .links {
        @extend %tab_link;
        position: relative; height: 1em; padding: 8px 12px; margin-top: 1.2em; margin-right: 3em;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
          color: $white;
        }
        &.active {
          @extend %small_button;
          color: white; border: none; background: $blue_dark;
          &:hover {
            background: darken($blue_dark, 10%);
          }
        }
      }
    }
    #search-status-_sidebar_section {
      padding: 1em 2em;
      h3 {
        @extend .h3;
        margin: 0 0 .5em;
        grid-area: header;
      }
      .panel_contents {
        span {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-areas:
            "scope filters";
          h4, b {
            grid-area: scope;
          }
          h4 { margin: 0 }
          & > div {
            grid-area: filters;
            margin-top: -10px;
          }
        }

      }
    }
  }
  .display-avatar {
    @extend %display-avatar;
  }
}
