.rst__tree {
  padding: 1em 0 0 1em;
}
.rst__lineHalfHorizontalRight::before,
.rst__lineFullVertical::after,
.rst__lineHalfVerticalTop::after,
.rst__lineHalfVerticalBottom::after,
.rst__lineChildren::after {
  background-color: $grey_lighter;
}
.rst__nodeContent {
}
.rst__expandButton {
  background: $grey_lighter url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><circle cx="9" cy="9" r="8" fill="#{url-friendly-colour($grey_lighter)}"/><g stroke="#{url-friendly-colour($white)}" stroke-width="1.9"><path d="M4.5 9h9"/><path d="M9 4.5v9"/></g></svg>') no-repeat center;
  box-shadow: 0 0 0 1px $grey_lighter;
  &:focus {
    box-shadow: 0 0 0 1px $grey_light, 0 0 1px 3px #83bef9
  }
}
.rst__collapseButton {
  background: $grey_lighter url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><circle cx="9" cy="9" r="8" fill="#{url-friendly-colour($grey_lighter)}"/><g stroke="#{url-friendly-colour($white)}" stroke-width="1.9"><path d="M4.5 9h9"/></g></svg>') no-repeat center;
  box-shadow: 0 0 0 1px $grey_lighter;
  &:focus {
    box-shadow: 0 0 0 1px $grey_light, 0 0 1px 3px #83bef9
  }
}
.rst__moveHandle {
  // background: $grey_lighter url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42"><g stroke="#FFF" stroke-width="2.9"><path d="M14 15.7h14.4"/><path d="M14 21.4h14.4"/><path d="M14 27.1h14.4"/></g></svg>') no-repeat center;
  background-color: $blue;
  box-shadow: none;
  border: none;
}

.rst__rowContents {
  box-shadow: none;
  border-color: $grey_lighter;
  padding: 0 1em 0 1em;
}
.rst__toolbarButton button {
  @extend %sign_out_link;
  padding: 0; margin-left: 2em;
  background: none;
  border: none;
  cursor: pointer;
  color: $blue;
  display: flex;
  align-items: center;
  .svg-icon {
    fill: currentColor;
  }
}

.rst__row.unpublished .rst__rowContents {
  color: $grey;
}
