#dashboard_content {
  @extend %main_content_container;
}
.logged_in {
  .panel { padding: 2em; }
  .attributes_list {
    list-style-type: none;
    padding: 0; margin: 0;
    li {
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      margin-bottom: 1.5em;
    }
    .attributes_list_attr_name {
      @extend %label;
    }
    .attributes_list_attr_value {
      @extend %admin_text_view_field;
    }
  }
  .image {
    .attributes_list_attr_name {
      @extend %label;
      padding-bottom: 0.5em;
    }
  }
}
