.block__content--vimeo_block, .block__content--you_tube_block {
  line-height: 0 !important;
}

.logged_in #gallery_plugin_block{

  .gallery {
    width: 100%; margin: 1em auto 0; max-width: 400px;
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    display: table;
    table-layout: fixed;


    &:first-child {
      margin-top: 0;
    }

    &:hover {
      .gallery__trash {
        width: 2.5em;
      }
      .gallery__inputs {
        padding-right: 1em;
      }
    }

    &__inputs {
      display: table-cell; padding: 1em 1.5em 1.5em 1.5em;
      transition: padding 0.35s ease-in-out;

      input, textarea {
        background-color: $white !important;
      }

      textarea {
        height: 6em !important; display: block !important;
        resize: none;
      }

      img {
        margin-top: 1em; width: 100%;
      }
    }

    &__trash {
      border-radius: 2px;
      box-shadow: -1px 0 0 0 #dddddd;
      color: $grey_light;
      cursor: pointer;
      display: table-cell;
      line-height: 0;
      overflow: hidden;
      transition: width 0.35s ease-in-out;
      vertical-align: middle;
      width: 0;

      &:hover {
        color: $black;
      }
    }

    &__add-new-wrapper {
      height: 1em;
      margin: 1.5em 0 0.5em 0;
    }

    &__add-new {
      margin-left: 1em;
      color: $blue;
      float: right;
      font-size: 0.75rem; font-weight: 700; line-height: 1.3rem;
      text-decoration: none; text-transform: uppercase;
    }
  }
}
