<div data-pages="<%= Slickr::Page.roots.not_draft.decorate.to_json(only: [:id, :title], methods: [:expanded, :subtitle, :edit_page_path, :add_child_path, :children, :published, :admin_delete_page_path]) %>" id='page_tree_content'></div>
<div id='dashboard_content'></div>
<%= javascript_pack_tag 'slickr_page_tree' %>
