<div class='news_filters'>
  <input class='news_filters-toggle-input' type="checkbox" id="filter_toggle" />
  <label class='news_filters-toggle' for="filter_toggle">
    <span class='news_filters-toggle-icon'>Show Filter</span>
  </label>

  <%= form_for_filterrific @filters, html: { class: "news_filters-form", data: { action: 'change->news-articles#filter', target: 'news-articles.filterForm', url: news_articles_path(format: :js) } } do |f| %>
    <% NewsArticle::CATEGORIES.each do |category| %>
      <div class='news_filters-category'>
        <%= f.check_box :has_category, { multiple: true, id: category, tabindex: '-1', "aria-controls" => 'selectionInfo' }, category, false %>
        <%= f.label :has_category, t(category, scope: %i[activerecord attributes news_articles category_options]), for: category %>
      </div>
    <% end %>

    <%= link_to 'Clear filter', reset_filterrific_url, class: 'news_filters-clear' %>
  <% end %>
</div>
