<div data-pages="<%= Slickr::Navigation.where(title: params[:q][:title_eq]).decorate.to_json(only: [:id, :title], methods: [:expanded, :edit_navigation_path, :add_child_path, :children, :admin_delete_navigation_path]) %>" id='navigation_tree_content'></div>
<div id='dashboard_content'></div>
<%= javascript_pack_tag 'slickr_navigation_tree' %>
